
/*Grid*/
@import url('reset.css');
@import url('bootstrap.css');

/*Fonts*/
@import url('fonts.css');
@import url('font-awesome.css');

/*Sections*/
@import url('header.css');
@import url('content-asset-first.css');
@import url('content-asset-second.css');
@import url('content-asset-third.css');
@import url('content-asset-fourth.css');
@import url('footer.css');

/*Canvas-menu*/
@import url('canvas.css');