#membership {
	max-width: 1200px;
	margin: 0 auto;
}

#membership h2 {
	font-family: 'ralewaybold';
	font-size: 32px;
	color: #015b98;
	text-align: center;
	margin-bottom: 34px;
}

#membership p {
	font-family: 'ralewayregular';
	font-size: 15px;
}

#membership #ol-shell .img-holder {
	padding-top: 20px;
	text-align: left;
}

#membership #ol-shell .img-holder img {}

#membership .order-list ol {
	list-style-type: decimal;
	list-style-position: inside;
	color:	#787878;
	font-family: 'ralewayregular';
	font-size: 15px;
	max-width: 470px;
}

#membership .order-list ol li {
	margin-bottom: 40px;
}

#membership .order-list ol li:first-child {
	margin-top: 70px;
}

