#order-online {
	margin-top: 120px;
	height: auto;
	width: 100%;
	padding-top: 55px;
	padding-bottom: 60px; 
	background: -moz-radial-gradient(bottom, ellipse cover, #157aad 0%, #106697 24%, #063E6C 73%, #053764 83%); /* ff3.6+ */
	background: -webkit-gradient(radial, bottom bottom, 0px, bottom bottom, 100%, color-stop(0%, #157aad), color-stop(24%, #106697), color-stop(73%, #063E6C), color-stop(83%, #053764)); /* safari4+,chrome */
	background: -webkit-radial-gradient(bottom, ellipse cover, #157aad 0%, #106697 24%, #063E6C 73%, #053764 83%); /* safari5.1+,chrome10+ */
	background: -o-radial-gradient(bottom, ellipse cover, #157aad 0%, #106697 24%, #063E6C 73%, #053764 83%); /* opera 11.10+ */
	background: -ms-radial-gradient(bottom, ellipse cover, #157aad 0%, #106697 24%, #063E6C 73%, #053764 83%); /* ie10+ */
	background: radial-gradient(ellipse at bottom, #157aad 0%, #106697 24%, #063E6C 73%, #053764 83%); /* w3c */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#157aad', endColorstr='#053764',GradientType=1 ); /* ie6-9 */
	text-align: center;
	font-family:'ralewaybold';
}

#order-online .description h2 {
	font-size: 35px;
	color: #fff;
}

#order-online .description p {
	color: #fff;
	font-family: 'ralewayregular';
	font-size: 15px;
	margin-top: 35px;
}

#order-online .prices {
	text-align: center;
	width: 100%;
	margin-top: 50px;
}

#order-online .prices table {
	color: #fff;
	display: inline-block;
	font-size: 20px;
}

#order-online .prices table td {
	padding: 6px 60px;
	text-align: left;
}

#order-online .order .order-btn {
	margin-top: 63px;
}

#order-online .order .order-btn a {
	background-color: #ff6600;
	color: #fff;
	font-family: 'ralewayregular';
	font-size: 18px;
	text-transform: uppercase;
	padding: 17px 35px;
	border-radius: 3px;
	font-weight: 400;
	text-decoration: none;
	outline: none;
	transition: 0.3s;
}

#order-online .order .order-btn a:hover {
	background-color: #fd7c26;
}