/*Logo*/

#logo {
	color: #303030;
	font-family: 'Roboto', sans-serif;
	font-size: 42px;
	text-decoration: none;
	text-transform: uppercase;
}

#logo span {
	background-color: #28B8D2;
	color: #fff;
	font-family: 'Roboto', sans-serif;
}

.col-lg-6 {
	float: left;
	width: 50%;
	margin-top: 23px;
	margin-bottom: 23px;
}

.col-lg-6.inp {
	margin: 0;
}

input {
	float: right;
	margin-top: 23px;
	margin-bottom: 23px;
	height: 51px;
	width: 290px;
}
