/*Main-carousel*/

.slider {
	margin-bottom: -80px;
}

.slider .item1 {
	background: url(../imgs/carousel.jpg) no-repeat center center;
	height: 500px;
	background-size: cover;
}

.slider .item2 {
	background: url(../imgs/darkness.jpg) repeat center;
	height: 500px;
	background-size: contain;
}

.slider .item3 {
	background: url(../imgs/gravity.jpg) no-repeat center center;
	height: 500px;
	background-size: cover;
}

.slider .item4 {
	background: url(../imgs/sweeney.jpg) no-repeat center center;
	height: 500px;
	background-size: cover;
}

.slider .item5 {
	background: url(../imgs/x-men.jpg) no-repeat center center;
	height: 500px;
	background-size: cover;
}

.slider .item6 {
	height: 500px;
	background: url(../imgs/yoko.jpg) repeat center;
	background-size: contain;
}