/*Navigation-Menu*/

nav ul {
    float: right;
}

header nav > ul li a {
	color: #fff;
	font-size: 16px;
	font-family: 'Roboto', sans-serif;
}

ul li {
    display: inline-block;
    transition: 0.5s;
    color: #fff;
    padding-right: 10px;
    margin: 15px auto;

    position: relative;
    vertical-align: middle;
}

ul li:after {
    content: "";
    width: 100%;
    position: absolute;
    bottom: -5px;
    right: 0;
    height: 1px;
    background: #28B8D2;
    transition: 0.5s;
    opacity: 0;
}

ul li:hover:after {
    bottom: 3px;
    opacity: 1;
    color: #28B8D2;
}

.dropdown .dropbtn {
  font-size: 16px; 
  border: none;
  outline: none;
  color: white;
  padding: 0;
  background-color: inherit;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #28B8D2;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 10;
}

.dropdown-content a {
  float: none;
  color: #fff;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #28B8D2;
  color: #000;
}

.dropdown:hover .dropdown-content {
  display: block;
}





