/*About-Info*/

#about-info {
	max-width: 970px;
	box-sizing: border-box;
	margin: -103px auto;
	position: relative;
} 

#about-info:after {
	content: "";
	clear: both;
	display: block;
}


#about-info > div {
	width: 50%;
}

#about-info > div.content {
	position: absolute;
	height: 100%;
	right: 0;
	top: 0;
	background: #fff;
	padding: 77px 60px 124px 60px ;
}

#about-info > div img {
	display: block;
	width: 100%;
	height: auto;
}

#about-info > div.content h3 {
	font-family: 'Lobster', cursive;
	font-size: 35px;
	color: #3c3a5b;
	position: relative;

	padding-bottom: 35px;
	margin-bottom: 31px;
}

#about-info div.content h3:after {
	content: "";
	height: 1px;
	max-width: 110px;
	width: 100%;
	display: block;
	background: url('../imgs/stich-green.png') repeat-x center;
	background-size: 30px 1px;
	background-position-x: 0px;

	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	margin: auto auto 0 0;
}

#about-info div.content p {
	letter-spacing: 3px;
	color: #9fb0a5;
	font-size: 15px;
	font-family: 'Montserrat', sans-serif;
	line-height: 23px;
}

#about-info div.content a {
	position: absolute;
	left: 60px;
	bottom: 79px;
}

/*Large*/
@media only screen and (max-width: 1200px) {

}
/*Middle*/
@media only screen and (max-width: 992px) {
	#about-info > div:first-child {
		width: 25%;
	}
	#about-info > div.content {
		width: 75%;
		padding: 20px 25px;
	}
	#about-info > div.content a {
		position: absolute;
		right: 10px;
		left: auto;
		bottom: 15px;
	}
	#about-info div.content h3 {
		margin: 10px 0;
		padding: 10px 0;
	}
	#about-info div.content h3 {
		font-size: 12px;
	}
}

/*Small-sm*/
@media only screen and (max-width: 768px) {
	#about-info > div:first-child {
		display: none;
	}
	#about-info > div.content {
		position: static;
		width: 100%;
		padding: 20px 25px;
	}
	#about-info div.content a {
		position: static;
		margin: 15px auto 0;
	}

}
/*Extra Small-xs*/
@media only screen and (max-width: 500px) {
	#about-info {
		text-align: center;
	}
	#about-info > div.content a {
		display: block;
	}
	#about-info div.content h3:after {
		background-size: 30px 1px;
		background-position-x: 5px;
		margin: auto auto 0 auto;
	}
}