/*Carousel*/

#main-carousel {
	height: 850px;
	background: url('../imgs/image.jpg') no-repeat center center;
	background-size: cover;
	padding: 227px 0 0 0;
}

#main-carousel h1 {
	font-family: 'Lobster', cursive;
	font-size: 85px;
	color: #fff;
	text-align: center;
	padding-bottom: 66px;
	margin-bottom: 55px;
	position: relative;
}

#main-carousel h1:after {
	content: "";
	max-width: 210px;
	height: 1px;
	width: 100%;
	display: block;
	background: url('../imgs/stich.png') repeat-x center;
	background-size: 30px 1px;
	background-position-x: 10px;

	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	margin: auto auto 0 auto;
}

#main-carousel > p {
	max-width: 350px;
	font-size: 20px;
	font-family: 'Montserrat', sans-serif;
	margin: 0 auto;
	text-align: center;
	letter-spacing: 2px;
	color: #fff;
}
