/*Menu-something for eat*/

@keyframes loop {
	0% {
		margin-bottom: 0px;
	}
	50% {
		margin-bottom: 30px;
		opacity: 0.5;
	}
	100% {
		margin-bottom: 0px;
	}
}

#menu h4 {
	display: block;
	font-family: 'Lobster', cursive;
	color: #28374b;
	font-size: 26px;
	text-align: center;
	margin: 56px 0;
}

#menu .shells {
	max-width: 1200px;
	margin: 0 auto;
}

#menu .shells:after,
#menu .shells .items:after {
	content: "";
	clear: both;
	display: block;
}

#menu .shells .items,
#menu .shells .items .item-unit {
	width: 50%;
	float: left;
}

#menu .shells .items .item-unit {
	position: relative;
	background: url('../imgs/risotto.jpg') no-repeat center center;
	background-size: cover;
}

#menu .shells .items .item-unit:after {
	content: "";
	display: block;
	padding-top: 85.61%;
}

#menu .shells .items .item-unit .content {
	background: #9fb0a5;
	height: 100%;
	width: 100%;
	position: absolute;
	left: 0;
	top: 0;
	text-align: center;
	color: #fff;
	padding: 40px;
}

#menu .shells .items .item-unit .content h5 {
	font-family: 'Lobster', cursive;
	font-size: 23px;
}

#menu .shells .items .item-unit .content p {
	font-family: 'Montserrat', sans-serif;
	font-size: 13px;
	line-height: 30px
}

#menu .shells .items .item-unit .content span {
	font-family: 'Lobster', cursive;
	font-size: 23px;
}

#menu .shells .items .item-unit.return {
	float: right;
	width: 50%;
}

#menu a {
	display: block;
	font-family: 'Lobster', cursive;
	color: #28374b;
	font-size: 26px;
	text-align: center;
	margin: 56px 0px;
	text-decoration: none;
	position: relative;
}

#menu a i {
	display: block;
	width: 35px;
	height: 35px;
	transition: 0.3s;

	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto auto 0 auto;
}

#menu a:hover i {
	margin-bottom: 30px;
	animation: loop 1s infinite;
}







