	/*Fonts*/
	/*font-family: 'dosisregular';*/
@import url('fonts.css');

@import url('bootstrap.css');
@import url('reset.css');
@import url('font-awesome.css');


@import url('header.css');
@import url('subheader.css');
@import url('service.css');
@import url('company_info.css');
@import url('app_presentation.css');
@import url('video_thumb.css');
@import url('download_part.css');
@import url('quote.css');
@import url('app_add.css');
@import url('footer.css');



body {
	background: #fff;
}
	.wrap .container-fluid {
		max-width: 1170px;
		width: 100%;
		margin: 0 auto;
}
header  {
	background: #223047;
}
