section .company-info {
	text-align: left;
}
.image {
	width: 45%;
	height: 530px;
	background: #223047;
	background-color: rgba( 34, 48, 71, 0.5) !important;
	display: inline-block;
}
.company-info .get-more {
	height: 530px;
	width: 55%;
	background: #f5f6fa;
	font-family: 'dosisregular';
	padding: 145px 0 0 125px;
	float: right;
	display: inline-block;
}
.company-info .get-more h3 {
	font-size: 30px;
	color: #000;
	max-width: 245px;
	margin-bottom: 70px;
}
.company-info .get-more p {
	font-size: 14px;
	color: #97a4be;
	max-width: 421px;
	line-height: 25px;
}

