header {
	background: #223047;
}
header .row {
	padding: 20px 0 0 0;
}
header:after {
	content: '';
	display: block;
	clear: both;
}

header nav {
	text-align: center;
	display: inline-block;
	float: right;
	width: 710px;

}
header nav ul {
	float: left;
}
header nav ul li {
	display: inline-block;
	margin-right: 30px;
	margin-top: 5px;

}
header nav ul li span {
	margin-left: 11px;
}

header nav ul li a:visited,
header nav ul li a:hover,
header nav ul li a:focus,
header nav ul li a {
	color: #fff;
	font-size: 14px;
	text-decoration: none;
	outline: none;
	font-family: 'dosisregular';
}

header nav ul li:nth-child(4) {
	margin-right: 300px;
}

header nav ul li:last-child a{
	font-family: 'dosisregular'; 
	background: #00fff0;
	color: #233148;
	font-size: 14px;
	padding: 12px 33px 12px 36px;
	border-radius: 6px; 
}


.logo {
	display: inline-block;
}
.canvas-open img {
	float: right;
	cursor: pointer;
	position: absolute;
    right: 20px;
    top: 6px;
}
nav ul span {
	font-size: 25px;
	color: #fff;
	display: none;
}

