.btn_service {
	background: #e95a3c;
	color: #fff;
	font-size: 13px;
	font-family: Georgia,Times,Times New Roman,serif; 
	width: 95px;
	height: 30px;
	border: none;
	border-radius: 6px;
	margin-bottom: 50px;
}

.viewproject {
	width: 136px;
	height: 30px;
	background: #e95a3c;
	color: #fff;
	font-size: 13px;
	font-family: Georgia,Times,Times New Roman,serif; 
	border: none;
	border-radius: 6px;
	margin-bottom: 50px;
}