.latest-work {
	max-width: 960px;
	margin: 0 auto;
	border-bottom: 1px solid #d2c7bd;
	margin-bottom: 31px;
}
.latest-work .col-lg-3 {
	float: left;
	margin-right: -5px;
	padding-right: 0;
}
.latest-work .col-lg-3 img {
	background: #fff;
	border: 5px solid #d2c7bd;
}
.latest-work .col-lg-3 h4 {
	font-family: Georgia,Times,Times New Roman,serif; 
	font-size: 18px;
	color: #947964;
	margin-bottom: 24px;

}

.latest-work .col-lg-3 p {
	font-family: Georgia,Times,Times New Roman,serif; 
	font-size: 13px;
	color: #666;
	line-height: 20px;
	max-width: 207px;
	max-height: 222px;
	margin-bottom: 16px;
}
