	/*Large -lg*/
@media screen and (max-width: 1200px){

	/*Mid -md*/
}
@media screen and (max-width: 959px){	
	header .top-navigation nav ul li a{
	color: #fff;
	display: table-cell;
	vertical-align: middle;
	text-transform: uppercase;
	font-size: 14px;
	padding-left: 7px;
	padding-right: 7px;
	font-weight: normal;
	letter-spacing: 1px;
	font-family: Georgia,Times,Times New Roman,serif; 
	}
	.slider .information {
	width: 48%;
	height: 100%;
	float: right;
	padding: 146px 0px 58px 21px;
    }
    .service .col-lg-3 {
    	width: 25%;
    }
    .latest-work .col-lg-3 {
    	width: 25%;
    }
    footer .wrap .col-lg-3 i {
    background-color: #e95a3c;
    border-radius: 50%;
    border: none;
    padding: 7px;
    color: #fff;
    margin-bottom: 18px;
	}
}

	/*Small -sm*/
@media screen and (max-width: 768px){
	.copyright .col-lg-6 {
		float: none;
		text-align: center;
		width: 50%;
		font-size: 16px;
	}
	footer form .email input {
		width: auto;
	}
	footer .wrap {
		height: 100%;
	}
	footer .wrap .col-lg-3 {
		width: 50%;
		margin-bottom: 30px;
	}
	footer .blog_post p {
		padding-right: 100px;
	}
	.service .col-lg-3 {
		width: 50%
	}
	.service .col-lg-3 h4 {
		margin-bottom: 10px;
	}
	.latest-work .col-lg-3 {
		width: 50%
	}
	.latest-work .col-lg-3 img {
		margin-bottom: 15px;
	}
	.section .shout {
		margin-top: 10px;
	}
	.item .wrap {
		height: 100% !important;
		border-bottom: none !important;
		margin-bottom: 0 !important;
	}
	.slider .information {
		padding: 0px 0px 0px 23px;
	}
	.slider .information h3 {
		font-size: 25px;
	}
	.form-field input {
		width: 140px;
	}
	.top-navigation .mobile-canvas {
		display: block;
	}
	.top-navigation nav ul span i {
		background: none;
		padding: 10px;
		cursor: pointer;
	}
	header .top-navigation .wrap {
    	width: 100%; 
    	margin: 0;
	}
	header .top-navigation .controls {
		display: block;
		font-weight: bold;
		font-size: 22px;
		color: #fff;
	}
	header .top-navigation nav.mobile-open {
		left: 0;
	}
	header .top-navigation nav {
		position: fixed;
		top: 0;
		left: -100%;
		height: 100%;
		width: 100%;
		background: #0342a5;
		z-index: 2;
		transition: 0.5s;
	}
	header .top-navigation nav ul {
		float: none;
	}
	header .top-navigation nav ul li {
		height: 50px;
		float: none;
		text-align: center;
		width: 100%;
		border-bottom: 1px solid #fff;
	}
	header .top-navigation nav ul li a{
		background: #0342a5;
		color: #fff;
		display: table-cell;
		vertical-align: middle;
		text-transform: uppercase;
		font-size: 13px;
		padding-left: 15px;
		padding-right: 15px;
		font-weight: normal;
		letter-spacing: 1px;
		font-family: Georgia,Times,Times New Roman,serif; 
	}
	.mobile-canvas i {
		float: right;
		font-size: 25px;
		background: #fff;
		color: #000;
		margin: 0;
		cursor: pointer;
	}
}

	/*eXtra-small -xs*/
@media screen and (max-width: 500px) {
	body {
		max-width: 500px;
	}
	header .logo p{
		font-size: 14px;
	}
	header .logo h1 {
    font-size: 20px;
	}
	.form-field input {
    width: 97px;
	}
	.form-field button {
    width: 57px;
    font-size: 11px;
	}
	header .item #logo img {
		height: 310px !important;
	}
	section .shout h3{
		font-size: 25px;
	}
	section .shout p {
		font-size: 17px;
	}
	footer .wrap .col-lg-3 i{
		padding: 4px;
	}
		footer .blog_post p {
		padding-right: 0px;
	}
}
@media screen and (max-width: 350px) {

}
