.slider .wrap {
	height: 400px;
	width: 100%;
	cursor: pointer;
	border-bottom: 2px solid #d2c7bd;
	margin-bottom: 51px;
}

.row {
	margin-left: 0;
	margin-right: 0;
}

#logo {
	width: 52%;
}

#logo img {
	max-height: 400px;
	width: 100%;
	float: left;
}
.information {
	width: 48%;
	height: 100%;
	float: right;
	padding: 184px 0px 30px 108px;
}
.information h3 {
	font-family: Georgia,Times,Times New Roman,serif; 
	font-size: 36px;
	color: #957964;
	margin-bottom: 14px;
}
.information p {
	font-family: Georgia,Times,Times New Roman,serif; 
	font-size: 16px;
	color: #666;
	line-height: 20px;
	margin-bottom: 11px;
}
.information button {
	font-family: Georgia,Times,Times New Roman,serif; 
	border: none;
	border-radius: 6px;
	background: #e95a3c;
	color: #fff;
	font-size: 16px;
	height: 30px;
	width: 126px;
}